img{
    width:300px;
    height: 200px;
}
body {
    background-color: plum;

}
h1 {
    color: red;
}
h2 {
    color: red;
}
h3{
    color: blue;
}
h4{
    color: brown;
}
img{
    float:right;
    margin:20px;
}
